// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

.set-h-500 {
    height: 500px;
}
.set-mb-100 {
    margin-bottom: 100px;
}

img.brand-image {
    width: 35px;
    box-shadow: none;
    background-color: white;
    opacity: 1 !important;
}

.sidebar {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover {
    color: #fff !important;
    background-color: rgba(255,255,255,.1) !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    box-shadow: none !important;
    background: none;
}

.router-link-exact-active {
    color: black !important;
    background-color: transparent !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-treeview {
    background-color: rgba(73, 80, 87, 0.5607843137254902);
}

.card {
    border-radius: 0px !important;
    border: 0px !important;
}

.swal2-actions .swal2-confirm {
    margin-left: 5px;
}

.swal2-actions .swal2-cancel {
    margin-right: 5px;
}

.main-sidebar {
    overflow-x: hidden;
}

.card-primary:not(.card-outline) .card-header, .card-primary:not(.card-outline) .card-header a {
    color: #212529;
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.nav-pills .nav-link {
    border-radius: 0px !important;
}

.custom-switch label {
    cursor: pointer;
}

.subtitle {
  color: #314b5f;
}

.cover-preview img {
    max-width: 100%;
    margin-top: 10px;
}

.image-circle {
    text-align: center;
}

.image-circle img {
    height: 75px;
    width: 75px !important;
    border-radius: 100%;
}

.lightbox__image {
    transform: scale(0.7);
    text-align: center
}

.main-sidebar {
    z-index: 0;
}

.lightbox img {
    width: 70% !important;
    height: auto !important;
    border-radius: 0px;
}

.border-bottom {
    z-index: 0 !important;
}

span.required-asterisk {
    color: red;
}

.invalid-feedback {
    display: block !important;
}

.cover-preview {
    text-align: center;
}

.daterangepicker .drp-buttons .btn {
    border-radius: 0px;
}
button.applyBtn {
    background-color: #3490dc;
    border: 1px solid #3490dc;
}
button.applyBtn:hover {
    background-color: #227dc7;
    border-color: #2176bd;
}
button.applyBtn.disabled, button.applyBtn:disabled {
    background-color: #357ebd;
    border-color: #357ebd;
}
button.applyBtn:not(:disabled):not(.disabled):active, 
button.applyBtn:not(:disabled):not(.disabled).active, .show > button.applyBtn.dropdown-toggle {
    background-color: #3490dc;
    border: 1px solid #3490dc;
}
button.applyBtn:focus, button.applyBtn.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25) !important;
}
.main-sidebar:hover {
    z-index: 2
}
li.nav-item.logout {
    border: 1px solid #3490dc;
    border-radius: 100px;
    width: 43px;
    text-align: center;
}
li.nav-item.logout a {
    color: #3490dc !important;
}
li.nav-item.logout:hover {
    transform: scale(.9);
}
.nav-item.booking-noti {
    margin-right: 15px !important;
}
.booking-noti span {
    position: absolute;
    top: 2px;
    display: inline-table;
    left: -2px;
}
.control-sidebar:after {
    content: '';
    position: absolute;
    left: 145px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #343a40;
    clear: both;
}
.control-sidebar:before {
    position: relative !important;
}

html.swal2-shown,body.swal2-shown { overflow-y: hidden !important; height: auto!important;}

.card-header {
    background-color: rgb(255, 255, 255) !important;
}

[class*=sidebar-light] .brand-link {
    color: white !important;
}


/**
*
* Button theme
*/

.btn-outline-primary:hover {
    color: #fff !important;
    border-color: #38d39f !important;
    background: rgb(4,154,121) !important;
    background: linear-gradient(90deg, rgba(4,154,121,1) 0%, rgba(42,193,142,1) 35%, rgba(56,211,159,1) 100%) !important;
}

.btn-primary {
    border-color: #38d39f !important;
    background: rgb(4,154,121) !important;
    background: linear-gradient(90deg, rgba(4,154,121,1) 0%, rgba(42,193,142,1) 35%, rgba(56,211,159,1) 100%) !important;
}

.btn-outline-primary {
    color: #38d39f !important;
    border-color: #38d39f !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #38c17224 !important;
}
.btn-primary:focus, .btn-primary.focus, .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem #38c17224 !important;
}


.lightbox, .lightbox__thumbnail {
    z-index: 2 !important;
}

button:focus, .fc-button-primary:focus {
    outline-color: #38c172;
}

.btn-action {
    min-width: 90px;
    margin: 2px;
    text-align: left;
}
[class*=sidebar-light] .brand-link {
    background-color: white !important;
}
.user-panel .info {
    display: flex !important;
}

.custom-logo {
    max-width: 150px;
    margin: auto;
    display: flex;
}