<div class="container" id="root">
<loading 
    :height="128"
    :width="128"
    :transition="`fade`"
    :loader="`dots`"
    :background-color="`#fff`"
    :color="`#38d39f`"
    :active.sync="isLoading" 
    :is-full-page="fullPage">
</loading>
<create-page-icon></create-page-icon>
    <div class="row justify-content-center">
        <div class="col-md-12">
        <notice-msg></notice-msg>
        <div class="card">
            <div class="card-header">
            <div class="card-tool">
                <router-link to="/room-types"><button class="btn btn-outline-primary btn-flat"><i class="fa fa-arrow-left"></i> Go to list</button></router-link>
            </div>
            </div>

            <form @submit.prevent="register" role="form">
                <div class="card-body">
                    <div class="form-group">
                        <label for="hotel">Assign To <span class="required-asterisk">*</span></label>
                        <Select2 id="hotel" v-model="form.hotel" :options="hotels" :settings="{ placeholder: 'Please select hotel', containerCssClass:'form-control' }" />
                        <has-error :form="form" field="role"></has-error>
                    </div>
                    <div class="form-group">
                        <label for="name">Name <span class="required-asterisk">*</span></label>
                        <input v-model="form.name" type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" id="name">
                        <has-error :form="form" field="name"></has-error>
                    </div>
                </div>

                <div class="card-footer">
                <button :disabled="form.busy" type="submit" class="btn btn-outline-primary btn-flat"><i class="fa fa-save"></i> {{ 'Save' }}</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>