<div class="container" id="root">
    <loading 
    :height="128"
    :width="128"
    :transition="`fade`"
    :loader="`dots`"
    :background-color="`#fff`"
    :color="`#38d39f`"
    :active.sync="isLoading" 
    :is-full-page="fullPage">
   </loading>
   <design-page-icon></design-page-icon>    
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
          <div class="card-header">
            <div class="card-tool">
                <router-link to="/users"><button class="btn btn-outline-primary btn-flat"><i class="fa fa-arrow-left"></i> Back</button></router-link>
            </div>
          </div>

            <div class="card-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6" v-if="isAdmin">
                            <div class="form-group">
                                <label for="hotelOwner">Hotel Owner <span class="required-asterisk">*</span></label>
                                <select v-model="form.hotelOwner" @change="ifChangehotelOwner" class="form-control" :class="{ 'is-invalid': form.errors.has('hotelOwner') }" id="hotelOwner">
                                  <option v-for="item in hotelOwners" :selected="item.id === form.hotelOwner" :value="item.id">{{item.email}}</option>
                                </select>
                                <has-error :form="form" field="hotelOwner"></has-error>
                            </div> 
                        </div>
                        <div :class="{'col-md-12':  isAdmin==false, 'col-md-6':  isAdmin==true}">
                            <div class="form-group">
                                <label for="recep">Receptionist <span class="required-asterisk">*</span></label>
                                <select @change="selectRecep" v-model="form.recep" class="form-control" :class="{ 'is-invalid': form.errors.has('recep') }" id="recep">
                                  <option v-for="item in receps" :selected="item.id === form.recep" :value="item.id">{{item.email}}</option>
                                </select>
                                <has-error :form="form" field="recep"></has-error>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-header">
                                    <h6><strong>{{recepName}}</strong> capabilities</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row capability-container">
                                        <div class="col-12">
                                            <div id="accordion" class="accordion">
                                                <div class="card mb-0">
                                                    <div v-for="(item, key) in hotels" class="custom-control custom-switch">
                                                        <div class="card-header item-accord collapsed" data-toggle="collapse" :href="'#collapse'+key">
                                                            <a class="card-title"> {{item.name}} </a>
                                                        </div>
                                                        <div :id="'collapse'+key" class="card-body collapse" data-parent="#accordion">
                                                            <div class="hotel-privileges">
                                                                <div class="child-privilege room-privilege">
                                                                    <!-- Room privilege -->
                                                                    <span>Room privilege</span>
                                                                    <ul>
                                                                        <li>
                                                                            <input @change="isCheck({'hotel_id':item.id, 'type':'add_room'}, $event)" :checked="(item.assign)?item.assign.can_add_room:0" type="checkbox" :class="'room-child-1-'+key" :id="'room-child-1-'+key" />
                                                                            <label :for="'room-child-1-'+key"> add</label>
                                                                        </li>
                                                                        <li>
                                                                            <input @change="isCheck({'hotel_id':item.id, 'type':'edit_room'}, $event)" :checked="(item.assign)?item.assign.can_edit_room:0" type="checkbox" :class="'room-child-2-'+key" :id="'room-child-2-'+key" />
                                                                            <label :for="'room-child-2-'+key"> edit</label>
                                                                        </li>
                                                                        <li>
                                                                            <input @change="isCheck({'hotel_id':item.id, 'type':'delete_room'}, $event)" :checked="(item.assign)?item.assign.can_delete_room:0" type="checkbox" :class="'room-child-3-'+key" :id="'room-child-3-'+key" />
                                                                            <label :for="'room-child-3-'+key"> delete</label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <!-- Room type privilege -->
                                                                <div class="child-privilege room-type-privilege">
                                                                    <span>Room type privilege</span>
                                                                    <ul>
                                                                        <li>
                                                                            <input @change="isCheck({'hotel_id':item.id, 'type':'add_room_type'}, $event)" :checked="(item.assign)?item.assign.can_add_room_type:0" type="checkbox" :class="'room-type-child-1-'+key" :id="'room-type-child-1-'+key" /> 
                                                                            <label :for="'room-type-child-1-'+key"> add</label>
                                                                        </li>
                                                                        <li>
                                                                            <input @change="isCheck({'hotel_id':item.id, 'type':'edit_room_type'}, $event)" :checked="(item.assign)?item.assign.can_edit_room_type:0" type="checkbox" :class="'room-type-child-2-'+key" :id="'room-type-child-2-'+key" /> 
                                                                            <label :for="'room-type-child-2-'+key"> edit</label>
                                                                        </li>
                                                                        <li><input @change="isCheck({'hotel_id':item.id, 'type':'delete_room_type'}, $event)" :checked="(item.assign)?item.assign.can_delete_room_type:0" type="checkbox" :class="'room-type-child-3-'+key" :id="'room-type-child-3-'+key" />
                                                                            <label :for="'room-type-child-3-'+key"> delete</label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>